@media (max-width: 575.99px){
    .navbar-toggler {
       border: none;
        
    }
    .navbar-toggler:focus {
         box-shadow: none;
    }
    .banner_right {
        width: 275px;
        height: 256px;
        margin-left: auto;
    }
    .banner_features{
        transform: scale(0.7);
        top: 12%;
        left: -100px;
    }
    #banner .banner_left h1 {
        font-size: 28px;
        line-height: 36px;
        margin-top: 24px;
        
    }
    #banner .banner_left p {
        font-size: 13px;
        line-height: 24px;
        padding-right: 0px;
        margin-top: 16px;
    }
    .banner_button {
        justify-content: center;
    }
    .numbers_users {
        justify-content: center;
    }
    
     .blog_taitle h3 {
        font-size: 24px;
        line-height: 36px;
        width: 327px;
    }
    .blog_taitle p {
        width: 327px;
    }
    .slider {
        display: block;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .blog_btn {
        margin-top: 0;
    }
    .numbers_users span strong {
        font-size: 36px;
    }
    .numbers_users span {
        font-size: 15px;
        
    }
    .title h3 {
        font-size: 24px;
        line-height: 36px;
        width: 327px;
        
    }
    #podcast {
        padding: 40px 0;
    }
    .title p {
        width: 327px;
    }
    .service-left {
        text-align: center;
    }
    .service-left h4 {
        font-size: 24px;
        line-height: 36px;
        margin-top: 24px;
    }
    .service-left p {
        padding-right: 0;
        text-align: center;
    }
    .list_service{
            display: flex;
            justify-content: center;
        
    }
    #service {
        padding-bottom: 24px;
    }
    #episodes {
        
        margin-top: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
        
    }
    .epi_header h3 {
        font-size: 28px;
        line-height: 36px;
       
    }
    .epi_header p {
        margin-top: 16px;
        padding: 0;
        margin-bottom: 16px;
    }
    .row {
        
        margin-top: 0;
      
    }
    .nav_tabs_btn {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 50px;
        column-gap: 16px;
        justify-content: center;
        row-gap: 16px;
    }
    .epi_tabs.text-center{
        margin-bottom: 24px;
    }
}
@media (min-width: 576px) and (max-width: 767.99px){
    
}
@media (min-width: 768px) and (max-width: 991.99px){

}
@media (min-width: 992px) and (max-width: 1199.99px){

}
@media (min-width: 1200px) and (max-width: 1399.99px){

}