/* common css start */

*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
    padding-left: 0 ;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Commissioner", sans-serif;
}
/* common css end */

/* navbar part start */
.navbar{
    padding: 25px 0;
}
.navbar-brand{
    margin-right: 0;
}
.nav-item{
    padding: 0 14px;
}
.nav-link{
    color: #62636C;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    transition: all linear 0.3s;
    
}
.nav-link:hover {
    color: #7678ED;
    
}
.nav_btn{
    padding: 16px 32px;
    background-color: #7678ED;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
}
.nav_btn:hover{
    background-color: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}
/* navbar part end */


/* banner part start */
#banner{
    margin-top: 50px;
}
#banner .banner_left h1{
    font-size: 56px;
    color: #13132C;
    line-height: 76px;
    font-weight: 600;
}
#banner .banner_left p{
    font-size: 16px;
    color: #13132C;
    line-height: 28px;
    font-weight: 400;
    padding-right: 215px;
    margin-top: 16px;

}
.banner_button{
    margin-top: 26px;
    display: flex;
    column-gap: 16px;
}
.banner_button button{
    padding: 16px 32px;
    background-color: #7678ED;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
}
.banner_button button:hover{
    background-color: transparent;
    border: 1px solid #7678ED;
    color: #7678ED;
}
.numbers_users{
    display: flex;
    column-gap: 24px;
    margin-top: 36px;
}
.numbers_users span strong{
    color: #F18701;
    font-size: 40px;
    font-weight: 500;
}
.numbers_users span{
    color: #13132C;
    font-size: 16px;
    font-weight: 400;
}
.banner_right{
    height: 520px;
}
.banner_right img{
width: 100%;
height: 100%;
object-fit: cover;
}
.banner_features{
    top: 40%;
    left: -100px;
}
/* banner part end */



/* podcast part start */
/* podcast part end */



/* others part start */
/* others part end */


/* episodes part start */
#episodes{
    margin: 0 auto;
    background: #FAFAFA;
    margin-top: 48px;
    max-width: 1440px;
    padding: 64px 0;
}

.epi_header h3{
    color:   #13132C;
}

#episodes{
    margin: 0 auto;
    margin-top: 48px;
    padding-top: 64px;
    max-width: 1440px;
    background: #FAFAFA;
    padding-bottom: 100px;
}

#episodes .container{
    margin: 0 auto;

}
.epi_header h3{
    color: #13132C;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; 
    text-transform: capitalize;
}

.epi_header p{
    color:#898998;
    line-height: 70px;  
}

 .epi_header p{
    color: #898998;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
    padding: 0 15px;
    margin-top: 24px;
}

.epi_tabs_btn{
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-top: 40px;
}

.epi_tabs_btn button{
    padding: 16px 32px;
    color:  #898998;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #DDD;
    font-weight: 500;
    line-height: 16px; 
    background: transparent;
    transition: 0.5s;
}
.epi_tabs_btn button:hover{
    color: #fff;
    background: #7678ED;
    line-height: 24px; 
    margin-top: 24px;
    padding: 0 15px;
}

.nav_tabs_btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.nav_tabs_btn button{
    padding: 16px 32px;
    border: 1px solid #dddddd;
    color:  #898998;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;  
    background: transparent;
    transition: 0.5s;
}


.nav_tabs_btn button:hover{
    background: #7678ED;
    color: #fff;
    border-color: #7678ED;
}

.row{
    margin-top: 48px;
    display: flex;
    row-gap: 24px;
}

.items{
    padding: 24px;
    background: #fff;
}

.items .epi_img {
    height: 234px;
    background: #C4C4C4;
    margin-bottom: 24px;
}

.img_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.epi_text h5{
    color:  #13132C;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    font-style:normal;
}

.epi_text span{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
}

.epi_text span:last-child{
    margin-left: 16px;
}

.epi_text span:last-child::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    background: #7678ED;
    border-radius: 50%;
    transform: translate(-12px,12px);
}

.play_btn{
    height: 48px;
    width: 48px;
    border: 2px solid #F2F2F2;
}
.epi_items .epi_img{
    height: 234px;
    background: #C4C4C4;
}
.epi_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_desc{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h5{
    color: #13132C;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;  
}
.left span{
    color:#898998;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;  
}

.left span:last-child{
    margin-left: 16px;
    position: relative;
}

.left span:last-child::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    transform: translate(-12px,12px);
    background: #7678ED;
    border-radius: 10px;

}

.play_btn{
    border: 2px solid #f2f2f2;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.play_btn::before{
    position: absolute;
    content: "";
    border: 2px solid transparent;
    border-top: 2px solid #7678ED;
    border-left: 2px solid #7678ED;
    top: -1px;
    left: -1px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.play_btn i{
    color: #7678ED;
}

.play_btn::before{
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid #7678ED;
    border-left: 2px solid #7678ED;
}

.epi_more_btn button{
    padding: 18px 40px;
    color: #7678ED;
    font-size: 16px;
    border: 1px solid #7678ED;
    background: transparent;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.5s;
    margin-top: 48px;
}

.epi_more_btn button:hover{
    color: #fff;
    background:  #7678ED;

}
.tabs_more_btn button{
    padding: 18px 40px;
    color: #7678ED;
    font-size: 16px;
    font-style: normal;
    background: transparent;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #7678ED;
    margin-top: 48px;
    transition: 0.4s;
}

.tabs_more_btn button:hover{
    background: #7678ED;
    color: #fff;
}
/* episodes part end */



/* priceing part start */
#pricing{
    margin-top: 48px;
    background: #fff;
    padding: 48px 0; 
}

#pricing .row .epi_header p{
    padding: 0 120px;
}

#pricing .row .na_tabs_btn{
    margin-top: 48px;
    display: flex;
    column-gap: 24px;
    justify-content: center;
}
.epi_tabs_btn button{
    padding: 18px 40px;
    color: #7678ED;
    font-size: 16px;
    font-style: normal;
    background: transparent;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #7678ED;
    margin-top: 48px;
    transition: 0.4s;
}
.epi_tabs_btn button:hover{
background-color: #7678ED;
color: #fff;
}

.plan {
    height: 470px;
    background: #fff;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    transition: 0.4s;
}

.plan:hover{
    background: #7678ED;
}

.plan h4{
    color:   #13132C;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;  
    margin-bottom: 24px;
    transition: 0.4s;

}

.plan:hover h4{
    color: #fff;
}
.plan p{
    color: #898998;
    font-size: 14px;
    font-style: normal;
    font-weight: 5400;
    line-height: 24px;  
    max-width: 240px;
    margin: 0 auto;
    transition: 0.4s;

}


.plan:hover p{
    color: rgba(255,255,255,0.72);
}

.plan .price{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.plan .price h5{
    color:  #13132C;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    font-style: normal;
    transition: 0.4s;
}

.plan:hover .price h5{
    color: #fff;
}

.plan .price span{
    color:  #898998;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    transition: 0.4s;

}

.plan:hover .price span{
    color: rgba(255,255,255,0.72);
}
.plan ul{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.plan ul li {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.plan ul li span{ 
    font-size: 16px;
    color: #13132C;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    transition: 0.4s;

}

.plan:hover ul li span{
    color: #fff;
}

.plan ul li i{
    color: #7678ED;
    font-size: 24px;
    transition: 0.4s;

}

.plan:hover ul li i{
    color: #fff;
}
.plan a{
    margin-top: 32px;
    display: inline-block;
    width: 100%;
    color:  #7678ED;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #7678ED;
    padding: 18px 0;
    text-align: center;
    transition: 0.4s;

}

.plan:hover a{
    background: #fff;
}
/* priceing part end */ 




/* Blog part start */
#blog{
    background-color: #FAFAFA;
    padding: 48px 0;
    text-align: center;

}

.blog_taitle h3{
    color: #13132C;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    width: 593px;
    margin: 0 auto;
    
}
.blog_taitle p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 533px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;

    
}
.blog_wrapper {
	display: flex;
	column-gap: 24px;
	align-items: center;
	justify-content: center;
}
.blog_post{
    background-color: #ffffff;
    padding: 24px;
    width: 384px;
}

.blog_post img{
    width: 336px;
    height: 240px;
    object-fit: cover;
   
}
.blog_post h5{
    color: #13132C;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 24px;
    width: 336px;
    margin-left: 0;
    text-align: start;

}
.blog_post p{
    color: #13132C;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: start;

}
.blog_post a{
    color: #F18701;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.blog_btn{
    
    margin-top: 48px;
    
}
.blog_btn a{
    
    padding: 18px 40px;
    border: 1px solid #7678ED;
    color: #7678ED;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all linear 0.3s;
}
.blog_btn a:hover{
    background-color: #7678ED;
    color: #fff;
}
/* Blog part end */




/* listeners part start */
/* listeners part end */



/* footer part start */
/* footer part end */
