/* common css start */

*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
    padding-left: 0 ;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
/* common css end */

/* navbar part start */
/* navbar part end */


/* banner part start */
/* banner part end */



/* podcast part start */
/* podcast part end */



/* others part start */
/* others part end */


/* episodes part start */
/* episodes part end */



/* priceing part start */
/* priceing part end */ 




/* Blog part start */
/* Blog part end */




/* listeners part start */
/* listeners part end */



/* footer part start */
/* footer part end */
